# android sdk (Android Software Development Kit)
export ANDROID_SDK_ROOT="$HOME/Library/Android/sdk"

# adb (Android Debug Bridge)
export PATH="$ANDROID_SDK_ROOT/platform-tools:$PATH"

# sdkmanager (Android SDK Manager)
# avdmanager (Android Virtual Device Manager)
export PATH="$ANDROID_SDK_ROOT/cmdline-tools/latest/bin:$PATH"
